* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* 我的 */
.headline {
    width: 100%;
    height: 0.39rem;
    border-bottom: 1px solid #aaa;
    background-color: #fff;
    line-height: 0.39rem;
}

.headline p {
    padding-left: .2rem;
}

.headline p span:nth-of-type(1) {
    font-weight: bold;
}

/* 背景 */
.pic {
    width: 100%;
    height: 1.4rem;
    background: url(../image/my/bg2.png)no-repeat;
    background-size: 100%;
    position: relative;
}

.pic img {
    width: 0.54rem;
    position: absolute;
    left: 43%;
    top: 11%;
}

#user {
    color: #fff;
    position: absolute;
    left: 33%;
    top: 72%;
}

/* 我的关注 */
section {
    width: 100%;
    height: 1.32rem;
    background-color: #fff;
}

ul {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #aaa;
    box-sizing: border-box;
}

li {
    width: 100%;
    height: 0.44rem;
}

li a {
    display: block;
    margin-left: .2rem;
    margin-right: .3rem;
    color: #555;
    height: 0.43rem;
    line-height: .43rem;
    background: url(../image/my/right.png)right no-repeat;
    background-size: .1rem .2rem;
    border-bottom: 1px solid #ccc;
}

li:nth-of-type(3) a {
    border-bottom: 0px;
}

.quit {
    display: inline-block;
    box-sizing: border-box;
    width: 3.4rem;
    height: 0.4rem;
    line-height: .4rem;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #ff8a00;
    margin-top: .3rem;
    margin-left: .15rem;
}